.github-logo {
  background-image: url("../images/GitHub-Mark-Light-120px-plus.png");
  background-size: contain;
}

dt:target, span.highlighted {
  background: #F7F7F7 !important;
}

code {
  color: #00C09D !important;
}

a.reference {
  color: #3498DB !important;
}

.hidden {
  display: none !important;
}

.previews .d-flex .card {
  max-width: 200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#try-lets-plot, #preview-gallery-more {
  text-align: center;
  padding: 20px;
}

.card-header {
  font-size: 1.5em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lets-plot-platforms {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.lets-plot-platforms img {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.preview-gallery .d-flex {
  transition: height 0.5s ease-out;
  height: 0;
  overflow: hidden;
}

.font-size-2 * {
  font-size: 2rem !important;
}